requests
pygame
edge-tts
SpeechRecognition
pyautogui
opencv-python
dlib
geopy
python-telegram-bot==22.7
python-dotenv
pyaudio
psutil
screen-brightness-control
pycaw
duckduckgo-search
customtkinter
easyocr
pillow
pygetwindow
